<article>
    <input type="radio" name="switch-pos" id="pos-0">
    <input type="radio" name="switch-pos" id="pos-1">
    <input type="radio" name="switch-pos" id="pos-2" checked>
    <input type="radio" name="switch-pos" id="pos-3">
    <div class="chart">
        <div class="bar bar-30 white">
            <div class="face top">
                <div class="growing-bar"></div>
            </div>
            <div class="face side-0">
                <div class="growing-bar"></div>
            </div>
            <div class="face floor">
                <div class="growing-bar"></div>
            </div>
            <div class="face side-a"></div>
            <div class="face side-b"></div>
            <div class="face side-1">
                <div class="growing-bar"></div>
            </div>
        </div>
    </div>
    <p>Try another position :)</p>
    <nav class="actions">
        <label for="pos-0">1/4</label>
        <label for="pos-1">2/4</label>
        <label for="pos-2">3/4</label>
        <label for="pos-3">Full</label>
    </nav>
</article>

<!-- bar2 -->
<div class="container">
    <input type="radio" class="radio" name="progress" value="five" id="five">
    <label for="five" class="label">5%</label>
  
    <input type="radio" class="radio" name="progress" value="twentyfive" id="twentyfive" checked>
    <label for="twentyfive" class="label">25%</label>
  
    <input type="radio" class="radio" name="progress" value="fifty" id="fifty">
    <label for="fifty" class="label">50%</label>
  
    <input type="radio" class="radio" name="progress" value="seventyfive" id="seventyfive">
    <label for="seventyfive" class="label">75%</label>
  
    <input type="radio" class="radio" name="progress" value="onehundred" id="onehundred">
    <label for="onehundred" class="label">100%</label>
  
    <div class="progress">
      <div class="progress-bar"></div>
    </div>
  </div>
  
