{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="/static/style/game.css">
{% endblock %}

{% block content %}

<!-- TODO: make a tool tip/tour for first time players -->

<div id="game-page">
    <div id="game-background">
        <div id="background-top">
            <img src="/static/src/game/mountain_background.png" alt="mountain range" class="mountain">
            <img src="/static/src/game/mountain_middleground.png" alt="mountain range" class="mountain">
            <img src="/static/src/game/mountain_foreground.png" alt="mountain range" class="mountain">
        </div>
        <div id="background-bottom"></div>
    </div>

    <div id="buddy">
        <img id="game-body" src="/static/src/puffle/purple_puffle.png" alt="Bud-D body"/>
        <img id="game-eyes" src="/static/src/puffle/puffle_eyes.png" alt="Bud-D eyes"/>
        <img id="game-accessory" src="/static/src/accessories/3d_glasses.png" alt="Bud-D accessory"/>
    </div>

    <div id = "active_task_box">
        <div id = "active_task_box_title">
            Active
        </div>

        <div id = "active-task">
            None
        </div>

    </div>

    <div id="tasks_box">

        <div id="tasks-title">Tasks List</div>

        <div id="saved-section" class="task-section">
            <div id="saved-title" class="task-section-title">Saved</div>
        </div>
        
        <div id="suggested-section" class="task-section">
            <div id="suggested-title" class="task-section-title">Suggested</div>
            {% for task in tasks %}
            <div class="task">
                <div class="task-name">{{ task.name }}</div>
                <div class="task-info">
                    <div class="task-point-val"><i>{{ task.pointVal }} pts</i></div>
                    <div class="task-buttons">
                        <div class="make_active_button task-button">
                            <form action="/tasks/{{ task.id }}/?status={{ url_for('tutorial') }}" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="operation" value="guest"/>
                                <input type="image" name="submit" src="/static/src/menu-buttons/save_logo.png"/>
                            </form>
                        </div>
                        <div class="save_button task-button">
                            <a href="" value="{{ task.id }}"></a>
                        </div>
                        <div class="delete_button task-button">
                            <a href="" value="{{ task.id }}"></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>

    <div id = "big_leaderboard_background">
        <div id = "big_leaderboard_main">
            LEADERBOARD
            <div id = "big_leaderboard_user_position">
                <div class = "leaderboard_position"> 8 </div>
                <div class = "leaderboard_username"> username_filler </div>
                <div class = "leaderboard_level"> 30 </div>
                <div class = "leaderboard_score"> 29032 </div>
            </div>
            <div id = "big_leaderboard_all_users">
            </div>
        </div>
    </div>

    <div id="game-left-side">
        <div id="game-left-content">
            <div id="game-menu">
                <a href="/" class="game-menu-btn">
                    <img src="/static/src/menu-buttons/home.png" alt="home button">
                </a>
                <a href="" class="game-menu-btn">
                    <img src="/static/src/menu-buttons/settings.png" alt="settings button">
                </a>
                <a href="" class="game-menu-btn">
                    <img src="/static/src/menu-buttons/trophy.png" alt="leaderboard button">
                </a>
            </div>
            <div id= "level-progress">

                <!-- <svg
                    width="150"
                    height="150"
                    viewBox="0 0 150 150"
                    color="#00D74D"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <defs>
                        <linearGradient id="spinner-secondHalf">
                        <stop offset="0%" stop-opacity="0" stop-color="currentColor" />
                        <stop offset="100%" stop-opacity="0.5" stop-color="currentColor" />
                        </linearGradient>
                        <linearGradient id="spinner-firstHalf">
                        <stop offset="0%" stop-opacity="1" stop-color="currentColor" />
                        <stop offset="100%" stop-opacity="0.5" stop-color="currentColor" />
                        </linearGradient>
                    </defs>

                    <g stroke-width="10">
                        <path stroke="url(#spinner-secondHalf)" d="M 4 67 A 1 1 0 0 0 130 67" />
                        <path stroke="url(#spinner-firstHalf)" d="M 130 67 A 1 1 0 0 0 4 67" />

                        // 1deg extra path to have the round end cap
                        <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        d="M 4 75 A 1 1 0 0 1 4 73"
                        />
                    </g>

                    <animateTransform
                        from="0 0 0"
                        to="360 0 0"
                        attributeName="transform"
                        type="rotate"
                        repeatCount="1"
                        dur="1300ms"
                    />
                </svg> -->
                    

                <div class="circular">
                    <div class="inner"></div>
                    <div class="number">75%</div>
                    <div class="circle">
                        <div class="bar left">
                            <div class="progress"></div>
                        </div>
                        <div class="bar right">
                            <div class="progress"></div>
                        </div>
                    </div>
                </div>

                <span id="points_until_next_level_statement">
                    <span id="points_until_next_level">
                        364&nbsp
                    </span>
                    Points until Level&nbsp
                    <span id="next_level">
                        5
                    </span>
                </span>

            </div>
    
            <div id="bars_box">
                <div class="center_bars"> 
                    <div id="vitamin_d_line">
                        <div id="vitamin_d_title">Vitamin D</div>
                        <div id="vitamin_d_level">0/10</div> 
                    </div>
    
                    <div id="vitamin_d_outer">
                        <div id="vitamin_d_inner"></div>
                    </div>
                </div>
    
                <div class = "center_bars">
                    <div id = "tasks_completed_line">
                        <div id = "tasks_completed_title">Tasks Completed</div>
                        <div id = "tasks_completed_level">0/3</div> 
                    </div>
    
                    <div id="tasks_completed_outer">
                        <div id="tasks_completed_inner"></div>
                    </div>
                </div>
            </div>
    
            <div id="leaderboard_short">
                <div id = "leaderboard_top_line">
                    <div id = "leaderboard_word"> Leaderboard </div>
                    <div id = "leaderboard_user_position"> 8th </div>
                </div>

                <div>

                    <span class="leaderboard_2nd_line">
                        <span class="leaderboard-row">
                            8th (You)
                        </span>
                        <div id = "player_points">
                            144 points
                        </div>
                    </span>

                    <hr>
    
                    <div class= "leaderboard_2nd_line">
                        <span class="leaderboard-row">
                            1st maizey
                        </span>
                        <div id = "first_place_player_points">
                            1648 points
                        </div>
                    </div>

                <div>

            </div>
        </div>
    </div>
</div>

{% endblock %}